.analyse-page-data-collect-activations-container {
	display: flex;
	gap: 12px;
	margin: 24px 0;
	transition: 0.6s;
}

.analyse-page-data-collect-activations-toggle-open-btn {
	flex-shrink: 0;
	border-radius: 8px;
	width: 100px;
	height: 30px;
	background: var(--colour-grey-quinary);
	color: var(--text-colour-secondary);
	font-size: 16px;
	transition: 0.2s;
	cursor: pointer;
}

.analyse-page-data-collect-activations-container-is-collecting-activations .analyse-page-data-collect-activations-toggle-open-btn {
	pointer-events: none;
	user-select: none;
	opacity: 0.3;
}

.analyse-page-data-collect-activations-toggle-open-btn:hover {
	background: var(--colour-grey-septenary);
}

.analyse-page-data-collect-activations-container-closed .analyse-page-data-collect-activations-toggle-open-btn {
	width: 172px;
}

.analyse-page-data-collect-activations-toggle-open-btn-content {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	white-space: pre;
	opacity: 1;
	transition: 0.4s;
}

.analyse-page-data-collect-activations-container-just-changed-open-status .analyse-page-data-collect-activations-toggle-open-btn-content {
	transition: 0s;
	opacity: 0;
}

.analyse-page-data-collect-activations-options-container {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	align-items: center;
	opacity: 1;
	transition: 0.4s;
}

.analyse-page-data-collect-activations-container-closed .analyse-page-data-collect-activations-options-container,
.analyse-page-data-collect-activations-container-just-changed-open-status .analyse-page-data-collect-activations-options-container {
	transition: 0s;
	opacity: 0;
	pointer-events: none;
}

.analyse-page-data-collect-activations-toggle-start-btn {
	flex-shrink: 0;
	position: relative;
	border-radius: 8px;
	width: 270px;
	height: 30px;
	background: var(--colour-grey-quinary);
	color: var(--text-colour-secondary);
	font-size: 16px;
	transition: 0.2s;
	cursor: pointer;
}

.analyse-page-data-collect-activations-toggle-start-btn:hover {
	background: var(--colour-grey-septenary);
}

.analyse-page-data-collect-activations-toggle-start-btn-inactive {
	background: var(--colour-grey-tertiary);
	color: var(--text-colour-quaternary);
}

.analyse-page-data-collect-activations-toggle-start-btn-content {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	white-space: pre;
	opacity: 1;
	transition: 0.4s;
}

.analyse-page-data-collect-activations-toggle-start-btn:not(.analyse-page-data-collect-activations-toggle-start-btn-inactive)
	.analyse-page-data-collect-activations-toggle-start-btn-content {
	transition: 0.1s;
}

.analyse-page-data-collect-activations-toggle-start-btn-tooltip {
	position: absolute;
	bottom: calc(30px + 4px);
	left: 50%;
	transform: translateX(-50%);
	padding: 4px 8px;
	border-radius: 5px;
	box-sizing: border-box;
	width: max-content;
	max-width: 330px;
	background: var(--colour-grey-tertiary);
	color: var(--text-colour-secondary);
	font-size: 14px;
	transition: 0.4s;
	bottom: 10px;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

.analyse-page-data-collect-activations-toggle-start-btn-inactive .analyse-page-data-collect-activations-toggle-start-btn-tooltip:hover,
.analyse-page-data-collect-activations-toggle-start-btn-inactive:hover .analyse-page-data-collect-activations-toggle-start-btn-tooltip {
	bottom: calc(30px + 4px);
	opacity: 1;
}

.analyse-page-data-collect-activations-options-divider {
	display: block;
	content: "";
	width: 1px;
	height: 28px;
	background: var(--colour-grey-tertiary);
}

.analyse-page-data-collect-activations-options-layers-container,
.analyse-page-data-collect-activations-options-tokens-container {
	display: flex;
	gap: 12px;
	align-items: center;
	transition: 0.2s;
}

.analyse-page-data-collect-activations-options-layers-title,
.analyse-page-data-collect-activations-options-tokens-title {
	margin-top: -2px;
	margin-right: 8px;
	font-weight: 600;
}

.analyse-page-data-collect-activations-options-layers-bound {
	font-size: 12px;
}

.analyse-page-data-collect-activations-container-is-collecting-activations .analyse-page-data-collect-activations-options-layers-container,
.analyse-page-data-collect-activations-container-is-collecting-activations .analyse-page-data-collect-activations-options-tokens-container,
.analyse-page-data-collect-activations-container-is-collecting-activations
	.analyse-page-data-collect-activations-options-collection-count-container {
	pointer-events: none;
	user-select: none;
	opacity: 0.3;
}

.analyse-page-data-collect-activations-options-tokens-collect-all-label {
	flex-shrink: 0;
	font-size: 13px;
}

.analyse-page-data-collect-activations-options-collection-count-container,
.analyse-page-data-collect-activations-options-tokens-collect-count-container {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-left: 8px;
}

.analyse-page-data-collect-activations-options-collection-count-container button,
.analyse-page-data-collect-activations-options-tokens-collect-count-container button {
	display: block;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 26px;
	height: 26px;
	background: var(--colour-grey-quinary);
	color: var(--text-colour-primary);
	transition: 0.2s;
}

.analyse-page-data-collect-activations-options-collection-count-btn:not(
		.analyse-page-data-collect-activations-options-tokens-collect-count-btn-inactive
	):hover,
.analyse-page-data-collect-activations-options-collection-count-btn:not(
		.analyse-page-data-collect-activations-options-tokens-collect-count-btn-inactive
	):hover {
	background: var(--colour-grey-septenary);
	cursor: pointer;
}

.analyse-page-data-collect-activations-options-collection-count-btn-inactive,
.analyse-page-data-collect-activations-options-tokens-collect-count-btn-inactive {
	opacity: 0.5;
}

.analyse-page-data-collect-activations-options-collection-count-label,
.analyse-page-data-collect-activations-options-tokens-collect-count-label {
	flex-shrink: 0;
	margin-right: 8px;
	font-size: 13px;
}
